version: 2.1

workflows:
  version: 2
  main:
    jobs:
      - test:
          context: org-global
          content: "hi hi"

jobs:
  test:
    docker:
      - image: cimg/node:16.13.0
    parameters:
      content:
        type: string
    steps:
      - notify_zulip:
        content: << parameters.content >>

commands:
  notify_zulip:
    description: "Send message to meepshop zulip"
    parameters:
      stream:
        default: test
        description: "Zulip stream to post notifications to. Defaults to 'test'."
        type: string
      topic:
        default: test topic
        description: "Topic to use for messages. Defaults to 'test topic'."
        type: string
      content:
        default: ""
        description: "Topic to use for messages. Defaults to 'test topic'."
        type: string
    steps:
      - run:
          name: Notify zulip
          command: |
            curl -X POST https://zulip.meepshop.com/api/v1/messages \
              -u "${ZULIP_BOT_EMAIL}:${ZULIP_BOT_API_KEY}" \
              -d "type=stream" \
              -d "to=<< parameters.stream >>" \
              -d "topic=<< parameters.topic >>" \
              -d "content=<< parameters.content >>"
          shell: /bin/bash
          when: always
      - run: echo "<< parameters.content >>"
