version: 2.1

commands:
  notify_zulip:
    description: "Send message to meepshop zulip"
    parameters:
      stream:
        default: "test"
        description: "Zulip stream to post notifications to. Defaults to 'test'."
        type: string
      topic:
        default: "test topic"
        description: "Topic to use for messages. Defaults to 'test topic'."
        type: string
      content:
        default: "hello world"
        description: "Topic to use for messages. Defaults to 'hello world'."
        type: string
    steps:
      - run:
          name: Notify zulip
          command: |
            curl -X POST ${ZULIP_WEBHOOK} \
              -u "${ZULIP_BOT_EMAIL}:${ZULIP_BOT_API_KEY}" \
              -d "type=stream" \
              -d "to=<<parameters.stream>>" \
              -d "topic=<<parameters.topic>>" \
              -d "content=<<parameters.content>>"
          shell: /bin/bash
          when: always

jobs:
  test:
    docker:
      - image: cimg/base:stable
    steps:
      - notify_zulip:
        content: "hi hi"

workflows:
  main:
    jobs:
      - test:
          context: org-global
